@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="section pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center-xs">
                    <h3 class="heading fw-bolder"> داغترین چیزها هم اکنون</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right text-center-xs">
                    <a class="button style-outline" asp-page="./News">
                        <span class="button-text">مشاهده همه</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>