<!doctype html>
<html lang="en-US">

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<title>مجله وبلاگ - اتم لب | قالب چند منظوره استارت آپ</title>
		<partial name="_Style"/>

	</head>
	
	<body>
		<div class="noo-spinner">
			<div class="sk-rotating-plane"></div>
		</div>

        <div class="site">

            <partial name="_TopBar" />

            <partial name="_Header" />

            

            @RenderBody()



			@RenderSection("_Footer",required:false)
            
        </div>

		<a id="backtotop" class="fa fa-angle-up circle" href="javascript:void(0)"></a>

		<!-- LOAD JQUERY LIBRARY -->
		<partial name="_JavaScript"/>
	</body>

</html>
