
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="top-bar-wrap top-bar-left">
                    <ul class="top-bar-info text-center-xs">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="info-item">
                                <a href="#" class="info-link">
                                    <i class="ion ion-person"></i>
                                    <span class="info-text">@User.Identity.Name</span>
                                </a>
                            </li>

                            <li class="info-item">
                                <form asp-page="User" asp-page-handler="Logout" method="post">
                                    <button style="color:white" type="submit" class="nav-link btn btn-link">خروج</button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="info-item">
                                <a href="/User" class="info-link">
                                    <i class="ion ion-person"></i>
                                    <span class="info-text">
                                        ورود
                                    </span>
                                </a>
                            </li>
                            <li class="info-item">
                                <a href="/Register" class="info-link">
                                    <i class="ion ion-person"></i>
                                    <span class="info-text">
                                        ثبت نام
                                    </span>
                                </a>
                            </li>

                        }
                        <li class="info-item">
                            <a href="#" class="info-link">
                                <i class="info-icon ion-flame red"></i>
                                <span class="info-text">داغ</span>
                            </a>
                        </li>
                        <li class="info-item">
                            <a href="#" class="info-link">
                                <i class="info-icon ion-android-star yellow"></i>
                                <span class="info-text">محبوب</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="top-bar-wrap top-bar-right">
                    <div class="top-bar-social-networks text-right text-center-xs">
                        <div class="inner">
                            <a class="hint--bounce hint--bottom" aria-label="Facebook" href="https://facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="hint--bounce hint--bottom" aria-label="Twitter" href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="hint--bounce hint--bottom" aria-label="Instagram" href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="hint--bounce hint--bottom" aria-label="Dribbble" href="https://www.dribbble.com/" target="_blank">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
