
<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top-bar-wrap top-bar-left">
								<ul class="top-bar-info text-center-xs">
									<li class="info-item">
										<a href="#" class="info-link">
											<i class="info-icon ion-flash blue"></i>
											<span class="info-text">ویژه</span>
										</a>
									</li>
									<li class="info-item">
										<a href="#" class="info-link">
											<i class="info-icon ion-flame red"></i>
											<span class="info-text">داغ</span>
										</a>
									</li>
									<li class="info-item">
										<a href="#" class="info-link">
											<i class="info-icon ion-android-star yellow"></i>
											<span class="info-text">محبوب</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="top-bar-wrap top-bar-right">
								<div class="top-bar-social-networks text-right text-center-xs">
									<div class="inner">
										<a class="hint--bounce hint--bottom" aria-label="Facebook" href="https://facebook.com/" target="_blank">
											<i class="fa fa-facebook"></i>
										</a>
										<a class="hint--bounce hint--bottom" aria-label="Twitter" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
										<a class="hint--bounce hint--bottom" aria-label="Instagram" href="https://www.instagram.com/" target="_blank">
											<i class="fa fa-instagram"></i>
										</a>
										<a class="hint--bounce hint--bottom" aria-label="Dribbble" href="https://www.dribbble.com/" target="_blank">
											<i class="fa fa-dribbble"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
