@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="container">
        <!-- start row AllNewsCategory -->
        @await Component.InvokeAsync("NewsCategoryAll")
        <!-- end row -->
        <!-- start row News -->
        @await Component.InvokeAsync("NewsAll")
        <!-- End row News -->
        <!-- start row User -->
        <div class="row">

            @await Component.InvokeAsync("CommentAll")
            <!-- end col -->
            @await Component.InvokeAsync("UserAll")
            <!-- End row User -->

        </div>

    </div>
    <!-- container -->

</div>